.itin-padding{
  padding-bottom:25px;
}
.profile{
  font-size: .55rem;
}
.card-body{
  padding: .35rem !important;
}
h6.itin-details{
  margin-bottom:2px !important;
  font-size:.95rem!important;
}
p.itin-details, address.itin-details{
  font-size: .75rem;
  margin: 1px 0 !important;
}
address.itin-details{
  font-size: .65rem !important;
  margin: 1px 0 !important;
}

.profile-img {
  width:50px;
  height:50px;
  border-radius:50%;
  border:2px solid grey;
  margin-left: 3px;
}

.place-img {
  margin: 5px 0px;
}

.comment-img {
  padding-left: 4px;
}

.plus-img{
  padding-right:24px;
  text-align: right;
}

.badge{
  width: 25px;
}
.s-logos{
  padding:0 1.5px;
}


/* .flight-img-sponsor-background{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
} */

.card-img{
  background-image: url("img/PDX-414.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  
}
.card{
  border-radius: 0 !important;
}

.number-wrap{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.number{
  font-size: 36px;
  text-align: center;
  border: 1px black solid;
  border-radius: 60%;
  margin:auto;
  width:60px;
}
.sponsor-logo-wrap{
  padding: 0 5px!important;
}
.sponsor-logo{
  width:60px;
  height: auto;
}